
.about-container {
    position: relative;
    overflow: scroll;
    padding-top: 155%;
}

.about-pic {
    top: 3%;
    /* left: 20%; */
    position: absolute;
    z-index: 10;
}

#aboutCard {
    padding-bottom: 0px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    border-top: 1px solid #fdca00;
    border-bottom: 1px solid #fdca00;
    border-left: 1px solid #ff0db3;
    border-right: 1px solid #008efe;
    line-height: 1.5;
    position: absolute;
    top: 35%;
    left: 0;
    width: 90%;
    height: 30%;
    margin-left: 15px;
    overflow: scroll;
}

/* Floating Action Buttons */
.home:hover, 
.home {
  background-color:  #fdca00;
}







/* Media Queries */