/* MOBILE FIRST */

.about-container {
    position: relative;
    overflow: scroll;
    padding-top: 150%;
}

.about-pic {
    top: 3%;
    /* left: 20%; */
    position: absolute;
    z-index: 10;
}

#aboutCard {
    padding-bottom: 0px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    border-top: 1px solid #fdca00;
    border-bottom: 1px solid #fdca00;
    border-left: 1px solid #ff0db3;
    border-right: 1px solid #008efe;
    line-height: 1.5;
    position: absolute;
    top: 35%;
    left: 0;
    width: 90%;
    height: 30%;
    margin-left: 15px;
    overflow: scroll;
}


/* Floating Action Buttons */
.home:hover,
.home {
    background-color: #fdca00;
}


/* ------------------------ Media Queries ---------------------------------- */

/* TABLET PORTRAIT / DESKTOP / LAPTOP */
@media only screen and (min-width : 768px) {
    /*add animations/transitions - scrolling up? */

    .about-container {
        position: relative;
        overflow: scroll;
        padding-top: 40%;
    }

    .about-pic {
        top: 10%;
        margin-left: 1%;
        z-index: 10;
    }

    #aboutCard {
        padding-bottom: 1%;
        padding-top: 1%;
        padding-left: 1%;
        padding-right: 1%;
        background-color: black;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        border-top: 1px solid #fdca00;
        border-bottom: 1px solid #fdca00;
        border-left: 1px solid #ff0db3;
        border-right: 1px solid #008efe;
        border-radius: 2%;
        line-height: 1.5;
        top: 25.5%;
        left: 49%;
        width: 35%;
        overflow: hidden;
    }

    #aboutText {
        padding-bottom: 1%;
    }



}

/* TABLET LANDSCAPE / DESKTOP WIDESCREEN */
@media only screen and (min-width : 1500px) {}