/* MOBILE FIRST */

.chat {
    font-size: 45px;
    margin-left: 28px;
    text-transform: lowercase;
}


/* Contact Buttons */
.github:hover,
.github {
  background-color: #fdca00;
}

.email:hover,
.email {
  background-color: #008efe;
  margin-left: 5px;
}

.linkedIn:hover,
.linkedIn {
  background-color: #ff0db3;
  margin-left: 5px;
}

.resume:hover,
.resume {
  background-color: #fdca00;
  margin-left: 5px;
}


/* Floating Action Buttons */
.home:hover, 
.home {
  background-color:  #ff0db3;
}


/* ------------------------ Media Queries ---------------------------------- */

/* TABLET PORTRAIT / DESKTOP / LAPTOP */
@media only screen and (min-width : 768px) {

.chat {
  margin-left: 25%;
  margin-top: 8%;
}

.contact-buttons {
  margin-left: 25%;
  margin-top: -2%;
}




}

/* TABLET LANDSCAPE / DESKTOP WIDESCREEN */
@media only screen and (min-width : 1500px) {

}