body {
    padding-right: 0px;
    overflow: hidden;
}

/* Carousel */
.carousel,
.carousel-slider {
    margin-top: 50px;
    /* height: 850px; */
    padding-top: 150%;
}

#one {
    background-color: #008efe;
}

#two {
    background-color: #ff0db3;
}

#three {
    background-color: #fdca00;
}

#four {
    background-color: #008efe;
}

#five {
    background-color: #ff0db3;
}

.demoBtn {
    background-color: #fdca00;
    padding-left: 22px;
    padding-right: 22px;
}

.gitBtn {
    background-color: #ff0db3;
    
}

.img {
    margin-bottom: 10%;
}

/* Floating Action Buttons */
/* .home:hover, 
.home {
  background-color:  #008efe;
} */

