/* MOBILE FIRST */

[class*="col-"] {
  width: 100%;
}

body {
  background-image: url("../images/blurry.jpg");
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding-right: 40px; /*need to change this to % - 3%? */
  overflow: hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav {
  margin-bottom: 0px;
  margin-top: 0px;
}

.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 150%;
}

.resp-text {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-family: 'Yeseva One', cursive;
  font-size: 25px;
  color: white;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  margin-left: 5px;
  color: white;
}

.name {
  margin-bottom: 5px;
  margin-left: 25px;
}

.jobTitle {
  margin-top: 5px;
  margin-left: 25px;
  margin-bottom: 100px;
}


/* Mobile Sidenav */

.dropdown-trigger {
  margin-left: 28px;
  color: #008efe;
}

#homeLink {
  color: #fdca00;
  margin: 0px;
  text-align: right;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  border-right: 1px solid #fdca00;
}

#aboutLink {
  color: #fdca00;
  margin: 0px;
  text-align: right;
  font-size: 16px;
  border-right: 1px solid #fdca00;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

#projectsLink {
  color: #008efe;
  margin: 0px;
  text-align: right;
  font-size: 16px;
  border-right: 1px solid #fdca00;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

#contactLink {
  color: #ff0db3;
  margin: 0px;
  text-align: right;
  font-size: 16px;
  border-right: 1px solid #fdca00;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

/* Floating Action Buttons */
@keyframes bounce {

  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.contact {
  background-color: #008efe;
}

.contact:hover {
  background-color: #fdca00;
}


.resume {
  background-color: #ff0db3;
}

.resume:hover {
  animation: bounce 1s;
  background-color: #008efe;
}


.linkedIn {
  background-color: #fdca00;
}

.linkedIn:hover {
  animation: bounce 1s;
  background-color: #ff0db3;
}


.github {
  background-color: #008efe;
}

.github:hover {
  animation: bounce 1s;
  background-color: #fdca00;
}


.email {
  background-color: #fdca00;
}

.email:hover {
  animation: bounce 1s;
  background-color: #ff0db3;
}




/* ------------------------ Media Queries ---------------------------------- */

/* TABLET PORTRAIT / DESKTOP / LAPTOP */
@media only screen and (min-width : 768px) {
  h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 60px;
  }

  h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 25px;
    text-transform: uppercase;
  }

  .resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 42%;
  }

  .resp-text {
    position: absolute;
    top: 18%;
    left: 1%;
    width: 100%;
    height: 50%;
  }

  #navLinks {
    position: absolute;
    top: 28.5%;
  }

  .sidenav {
    background-color: transparent;
  }

  .dropdown-trigger {
    visibility: hidden;
  }

  .name {
    margin-bottom: 10px;
  }

  .jobTitle {
    margin-top: 10px;
  }

  nav {
    margin-bottom: 0px;
  }

  #aboutLink {
    color: #fdca00;
    margin: 0px;
    text-align: right;
    font-size: 20px;
    border-right: 1px solid #fdca00;
    padding-right: 8%;
  }


  #projectsLink {
    color: #008efe;
    margin: 0px;
    text-align: right;
    font-size: 20px;
    border-right: 1px solid #fdca00;
    padding-right: 8%;
  }

  #contactLink {
    color: #ff0db3;
    margin: 0px;
    text-align: right;
    font-size: 20px;
    border-right: 1px solid #fdca00;
    padding-right: 8%;
  }

  #homeLink {
    color: #fdca00;
    margin: 0px;
    text-align: right;
    font-size: 20px;
    border-right: 1px solid #fdca00;
    padding-right: 8%;
  }
}

@media only screen and (max-width : 992px) {

  header,
  main,
  footer,
  .wrapper {
    padding-left: 0;
  }
}

/* TABLET LANDSCAPE / DESKTOP WIDESCREEN */
@media only screen and (min-width : 1500px) {}